{% extends "app/layout.html" %}
{% load poll_extras %}
{% block content %}
    <!-- {% for i in q %}
      {{i}}
        {% endfor %} -->
      
      
      
    <br>
    <table class="table table-striped table-hover table-bordered" style="margin-left: -15px">
      <thead>
        <tr>
          <th>Enrolled Students</th>
          {% for i in qrid %}
          <th>{{i.created_at|date:"DATE_FORMAT"}}</th>
          {% endfor %}
          
        </tr>
      </thead>
      <tbody>
      {% set i = 0  %}
      {% for g in students %}
        <tr>
        {% if not g.is_staff %}
        <td>{{g.username}}</td>
        
        {% for t in q|index:i %} <td>{{ t }}</td> {% endfor %} 
        {% ++ i %}
        {% endif %}  
        </tr>
      
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
